## Question 1

In [1]:
import pandas as pd
from scipy import stats
dataset_cutlet = pd.read_csv("C:/Users/dell/Documents/DS_Assignments/3_Hypothesis_testing/Cutlets.csv")

Null Hypothsis H0: There is no significant difference between the diameter of cutlets of the two outlets.

Alternate Hypothesis H1: There is a significant difference in the diameter of cutlets from the two outlets.

alpha=0.05

In [2]:
dataset_cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
stats.ttest_ind(dataset_cutlet["Unit A"],dataset_cutlet["Unit B"])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

pvalue is greater than 0.05,hence Null hypothesis is accepted. There is no significant difference between the diameter of cutlets of the two outlets.

## Question 2

Null Hypothsis H0: There is no significant difference between the TAT of the four laboratories.

Alternate Hypothesis H1: There is a significant difference in the TAT from the four laboratories.

alpha=0.05

In [4]:
dataset_labTAT = pd.read_csv("C:/Users/dell/Documents/DS_Assignments/3_Hypothesis_testing/LabTAT.csv")

In [5]:
dataset_labTAT.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [6]:
stats.f_oneway(dataset_labTAT.iloc[:,0],dataset_labTAT.iloc[:,1],dataset_labTAT.iloc[:,2],dataset_labTAT.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

pvalue<0.05,hence the null hypothesis is rejected. There is a significant difference between the TAT values of laboratories with 5% significance.

## Question 3

Null Hypothesis H0: All proportions are equal across regions.

Alternate Hypothesis H1: Not all proportions are equal across regions.

alpha=0.05

In [7]:
dataset_BR = pd.read_csv("C:/Users/dell/Documents/DS_Assignments/3_Hypothesis_testing/BuyerRatio.csv")

In [8]:
dataset_BR.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [9]:
res=stats.chi2_contingency(dataset_BR.iloc[:,1:])
res

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [10]:
pvalue=res[1]
pvalue

0.6603094907091882

p-value>0.05, therefore Null Hypothesis is accepted. All proportions are equal across regions..

## Question 4

Null hypothesis H0: The defective percentage value in all the centers are equal.

Alternate hypothesis H1: The defective percentage value in all centers are not equal.

In [11]:
dataset_customer = pd.read_csv("C:/Users/dell/Documents/DS_Assignments/3_Hypothesis_testing/Costomer_OrderForm.csv")

In [12]:
dataset_customer.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [13]:
Phillippines=pd.Series([len(dataset_customer[dataset_customer.Phillippines=='Error Free']),len(dataset_customer[dataset_customer.Phillippines=='Defective'])])
Indonesia=pd.Series([len(dataset_customer[dataset_customer.Indonesia=='Error Free']),len(dataset_customer[dataset_customer.Indonesia=='Defective'])])
Malta=pd.Series([len(dataset_customer[dataset_customer.Malta=='Error Free']),len(dataset_customer[dataset_customer.Malta=='Defective'])])
India=pd.Series([len(dataset_customer[dataset_customer.India=='Error Free']),len(dataset_customer[dataset_customer.India=='Defective'])])

In [14]:
dataset_customer_N=pd.DataFrame()
dataset_customer_N['Phillippines']=Phillippines
dataset_customer_N['Indonesia']=Indonesia
dataset_customer_N['Malta']=Malta
dataset_customer_N['India']=India

In [15]:
dataset_customer_N.head()

   Phillippines  Indonesia  Malta  India
0           271        267    269    280
1            29         33     31     20

In [16]:
dataset_customer_N.set_axis(['Error Free','Detective'],inplace=True)

In [17]:
dataset_customer_N.head()

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Detective             29         33     31     20

In [18]:
res=stats.chi2_contingency(dataset_customer_N)
res

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [19]:
pvalue=res[1]
pvalue

0.2771020991233135

p-value>0.05, Therefore Null Hypothesis is accepted. The defective percentage value in all the centers are equal.